In [4]:
num = int(input("Enter a number: "))  
sum = 0

Enter a number: 10

KeyboardInterrupt:

In [38]:
import pandas as pd
import numpy as np

df=pd.read_csv("C:\\Users\\kinch\\Downloads\\googleplaystore.csv")

df.head()

,App,Category,Rating,Reviews,Size,Installs,Type,Price,Content Rating,Genres,Last Updated,Current Ver,Android Ver
0,Photo Editor & Candy Camera & Grid & ScrapBook,ART_AND_DESIGN,4.1,159,19M,"10,000+",Free,0,Everyone,Art & Design,"January 7, 2018",1.0.0,4.0.3 and up
1,Coloring book moana,ART_AND_DESIGN,3.9,967,14M,"500,000+",Free,0,Everyone,Art & Design;Pretend Play,"January 15, 2018",2.0.0,4.0.3 and up
2,"U Launcher Lite â€“ FREE Live Cool Themes, Hide ...",ART_AND_DESIGN,4.7,87510,8.7M,"5,000,000+",Free,0,Everyone,Art & Design,"August 1, 2018",1.2.4,4.0.3 and up
3,Sketch - Draw & Paint,ART_AND_DESIGN,4.5,215644,25M,"50,000,000+",Free,0,Teen,Art & Design,"June 8, 2018",Varies with device,4.2 and up
4,Pixel Draw - Number Art Coloring Book,ART_AND_DESIGN,4.3,967,2.8M,"100,000+",Free,0,Everyone,Art & Design;Creativity,"June 20, 2018",1.1,4.4 and up

In [14]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10841 entries, 0 to 10840
Data columns (total 13 columns):
App               10841 non-null object
Category          10841 non-null object
Rating            9367 non-null float64
Reviews           10841 non-null object
Size              10841 non-null object
Installs          10841 non-null object
Type              10840 non-null object
Price             10841 non-null object
Content Rating    10840 non-null object
Genres            10841 non-null object
Last Updated      10841 non-null object
Current Ver       10833 non-null object
Android Ver       10838 non-null object
dtypes: float64(1), object(12)
memory usage: 1.1+ MB

In [39]:
df['Installs'].isnull().any()

False

In [44]:
df['Installs'] = df['Installs'].map(lambda x: x.replace('Free',''))

df['Installs'] = df['Installs'].map(lambda x: x.replace(',',''))

df['Installs'] = df['Installs'].map(lambda x: x.replace('+',''))

In [45]:
df['Installs'] = df['Installs'].map(lambda x: x.replace(' ','0'))

In [46]:
df['Installs'].isnull().any()

False

In [47]:
df['Installs']

0           10000
1          500000
2         5000000
3        50000000
4          100000
5           50000
6           50000
7         1000000
8         1000000
9           10000
10        1000000
11        1000000
12       10000000
13         100000
14         100000
15           5000
16         500000
17          10000
18        5000000
19       10000000
20         100000
21         100000
22         500000
23         100000
24          50000
25          10000
26         500000
27         100000
28          10000
29         100000
           ...
10811         100
10812        1000
10813       10000
10814       50000
10815      500000
10816         100
10817      100000
10818       10000
10819        5000
10820        1000
10821          50
10822          10
10823         100
10824       10000
10825         100
10826     5000000
10827        5000
10828       10000
10829       10000
10830      100000
10831        5000
10832      100000
10833        1000
10834         500
10835          10
10836        5000
10837         100
10838        1000
10839        1000
10840    10000000
Name: Installs, Length: 10841, dtype: object

In [51]:
df['Installs']=pd.to_numeric(df['Installs'])

In [57]:
df['Installs'].isnull().any()
df.isnull().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             1
Type                 1
Price                0
Content Rating       1
Genres               0
Last Updated         0
Current Ver          8
Android Ver          3
dtype: int64

In [59]:
df = df[~np.isnan(df['Installs'])]

In [61]:
df.isnull().sum()

App                  0
Category             0
Rating            1474
Reviews              0
Size                 0
Installs             0
Type                 1
Price                0
Content Rating       0
Genres               0
Last Updated         0
Current Ver          8
Android Ver          2
dtype: int64

In [63]:
df['Installs'].astype(int)

0           10000
1          500000
2         5000000
3        50000000
4          100000
5           50000
6           50000
7         1000000
8         1000000
9           10000
10        1000000
11        1000000
12       10000000
13         100000
14         100000
15           5000
16         500000
17          10000
18        5000000
19       10000000
20         100000
21         100000
22         500000
23         100000
24          50000
25          10000
26         500000
27         100000
28          10000
29         100000
           ...
10811         100
10812        1000
10813       10000
10814       50000
10815      500000
10816         100
10817      100000
10818       10000
10819        5000
10820        1000
10821          50
10822          10
10823         100
10824       10000
10825         100
10826     5000000
10827        5000
10828       10000
10829       10000
10830      100000
10831        5000
10832      100000
10833        1000
10834         500
10835          10
10836        5000
10837         100
10838        1000
10839        1000
10840    10000000
Name: Installs, Length: 10840, dtype: int32

In [66]:
df.corr()

            Rating  Installs
Rating    1.000000  0.051355
Installs  0.051355  1.000000

In [94]:
import pandas as pd
import numpy as np

df=pd.read_csv("C:\\Users\\kinch\\Downloads\\Wholesale_Data.csv")

df.head()

   Fresh  Milk  Grocery  Frozen  Detergents_Paper  Delicassen Channel
0  12669  9656     7561     214              2674        1338    Cafe
1   7057  9810     9568    1762              3293        1776     Hot
2   6353  8808     7684    2405              3516        7844   Hotel
3  13265  1196     4221    6404               507        1788       C
4  22615  5410     7198    3915              1777        5185       H

In [101]:
df=df.replace(to_replace =["H", "Hot","Hote"],  
                            value ="Hotel")
df=df.replace(to_replace =["C", "Caffe","Caf"],  
                            value ="Cafe")
df=df.replace(to_replace =["R", "Rest"],  
                            value ="Restaurant")

In [149]:
df.head(500)

     Fresh   Milk  Grocery  Frozen  Detergents_Paper  Delicassen     Channel
0    12669   9656     7561     214              2674        1338        Cafe
1     7057   9810     9568    1762              3293        1776       Hotel
2     6353   8808     7684    2405              3516        7844       Hotel
3    13265   1196     4221    6404               507        1788        Cafe
4    22615   5410     7198    3915              1777        5185       Hotel
5     9413   8259     5126     666              1795        1451        Cafe
6    12126   3199     6975     480              3140         545  Restaurant
7     7579   4956     9426    1669              3321        2566       Hotel
8     5963   3648     6192     425              1716         750  Restaurant
9     6006  11093    18881    1159              7425        2098  Restaurant
10    3366   5403    12974    4400              5977        1744        Cafe
11   13146   1124     4523    1420               549         497  Restaurant
12   31714  12319    11757     287              3881        2931        Cafe
13   21217   6208    14982    3095              6707         602  Restaurant
14   24653   9465    12091     294              5058        2168  Restaurant
15   10253   1114     3821     397               964         412       Hotel
16    1020   8816    12121     134              4508        1080        Cafe
17    5876   6157     2933     839               370        4478       Hotel
18   18601   6327    10099    2205              2767        3181  Restaurant
19    7780   2495     9464     669              2518         501        Cafe
20   17546   4519     4602    1066              2259        2124       Hotel
21    5567    871     2010    3383               375         569  Restaurant
22   31276   1917     4469    9408              2381        4334  Restaurant
23   26373  36423    22019    5154              4337       16523       Hotel
24   22647   9776    13792    2915              4482        5778        Cafe
25   16165   4230     7595     201              4003          57        Cafe
26    9898    961     2861    3151               242         833        Cafe
27   14276    803     3045     485               100         518        Cafe
28    4113  20484    25957    1158              8604        5206        Cafe
29   43088   2100     2609    1200              1107         823  Restaurant
..     ...    ...      ...     ...               ...         ...         ...
340    381   4025     9670     388              7271        1371       Hotel
341   2320   5763    11238     767              5162        2158        Cafe
342    255   5758     5923     349              4595        1328  Restaurant
343   1689   6964    26316    1456             15469          37  Restaurant
344   3043   1172     1763    2234               217         379  Restaurant
345   1198   2602     8335     402              3843         303       Hotel
346   2771   6939    15541    2693              6600        1115  Restaurant
347  27380   7184    12311    2809              4621        1022       Hotel
348   3428   2380     2028    1341              1184         665        Cafe
349   5981  14641    20521    2005             12218         445        Cafe
350   3521   1099     1997    1796               173         995        Cafe
351   1210  10044    22294    1741             12638        3137  Restaurant
352    608   1106     1533     830                90         195       Hotel
353    117   6264    21203     228              8682        1111        Cafe
354  14039   7393     2548    6386              1333        2341  Restaurant
355    190    727     2012     245               184         127  Restaurant
356  22686    134      218    3157                 9         548        Cafe
357     37   1275    22272     137              6747         110  Restaurant
358    759  18664     1660    6114               536        4100       Hotel
359    796   5878     2109     340               232         776        Cafe
360  19746   2872     2006    2601               468         503       Hotel
361   4734    607      864    1206               159         405        Cafe
362   2121   1601     2453     560               179         712       Hotel
363   4627    997     4438     191              1335         314        Cafe
364   2615    873     1524    1103               514         468       Hotel
365   4692   6128     8025    1619              4515        3105        Cafe
366   9561   2217     1664    1173               222         447       Hotel
367   3477    894      534    1457               252         342  Restaurant
368  22335   1196     2406    2046               101         558  Restaurant
369   6211    337      683    1089                41         296       Hotel

[370 rows x 7 columns]

In [150]:
df1=df.groupby('Channel').sum().head(5)

In [201]:
gp=df1.sum(axis = 1, skipna = True).sort_values(ascending=True).head(1)
g=dict(gp)
g.keys()

dict_keys(['Restaurant'])